
data/instacart-market-basket-analysis/aisles.csv.zip
data/instacart-market-basket-analysis/aisles.csv/__MACOSX/._aisles.csv
data/instacart-market-basket-analysis/aisles.csv/aisles.csv
data/instacart-market-basket-analysis/departments.csv.zip
data/instacart-market-basket-analysis/departments.csv/__MACOSX/._departments.csv
data/instacart-market-basket-analysis/departments.csv/departments.csv
data/instacart-market-basket-analysis/order_products__prior.csv.zip
data/instacart-market-basket-analysis/order_products__prior.csv/__MACOSX/._order_products__prior.csv
data/instacart-market-basket-analysis/order_products__prior.csv/order_products__prior.csv
data/instacart-market-basket-analysis/order_products__train.csv.zip
data/instacart-market-basket-analysis/order_products__train.csv/__MACOSX/._order_products__train.csv
data/instacart-market-basket-analysis/order_products__train.csv/order_products__train.csv
data/instacart-market-basket-analysis/orders.csv.zip
data/instacart-market-basket-analysis/orders.csv/__MACOSX/._orders.csv
data/instacart-market-basket-analysis/orders.csv/orders.csv
data/instacart-market-basket-analysis/products.csv.zip
data/instacart-market-basket-analysis/products.csv/__MACOSX/._products.csv
data/instacart-market-basket-analysis/products.csv/products.csv
data/instacart-market-basket-analysis/sample_submission.csv.zip
data/instacart-market-basket-analysis/sample_submission.csv/sample_submission.csv
final_project/UNSW-NB15-archive.zip
/final_project/.ipynb_checkpoints
